# Core app
streamlit>=1.28.0
python-dotenv>=1.0.1

# Firebase + Storage
pyrebase4
firebase-admin>=6.2.0
google-cloud-storage>=2.10.0

# Vertex AI + Discovery Engine
google-cloud-aiplatform>=1.66.0
google-cloud-discoveryengine>=0.12.0
vertexai

# RAG + NLP
sentence-transformers
faiss-cpu
numpy

# HTTP
requests>=2.31.0
